<div class="container">
  <h1>Welcome to Ruby Racer!</h1>
  

  <form id="new_game" action="/game/create" method="get">
    <input type="submit" value="Play">
  </form>
  <ul>
  <% @games.each do |game| %>
  
  <li><%= game.winner.name %> : <%= game.seconds_taken_for_victory %> Milliseconds</li>
  <% end %>
  </ul>
</div>
